<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="ConnStringLocal" connectionString="Server=localhost\SQLEXPRESS;Database=tp2_net;Integrated Security=true; User=net; Password=net;"
        providerName="System.Data.SqlClient" />
    <add name="ConnStringExpress" connectionString="Server=localhost;Database=tp2_net; Integrated Security=false; User=net; Password=net;"
        providerName="System.Data.SqlClient" />
    <add name="ConnStringServerISI" connectionString="Server=serverisi; Database=academia; Integrated Security=false; User=net; Password=net;"
        providerName="System.Data.SqlClient" />
    <add name="UI.Desktop.Properties.Settings.academiaConnectionString"
        connectionString="Data Source=localhost;Initial Catalog=academia;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
